/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*custom fonts*/
input, select{
    /*text-transform: uppercase;*/

}
input:focus {
    outline: none !important;
    border:1px solid red !important;
    box-shadow: 0 0 10px #719ECE !important;
    background-color: deepskyblue !important;
}
select:focus {
    background-color: deepskyblue !important;
}
.topnav a{
    padding: 8px !important;
    font-size: 15px;
}
input [type=submit]{
    background-color: grey !important;
}
.table-bordered th, td {
    border: 1px solid black !important;
}
@font-face {
    font-family: 'Kalpurush';
    src: url('https://fonts.maateen.me/kalpurush/Kalpurush.eot');
    src: url('https://fonts.maateen.me/kalpurush/Kalpurush.woff') format('woff'),
    url('https://fonts.maateen.me/kalpurush/Kalpurush.ttf') format('truetype'),
    url('https://fonts.maateen.me/kalpurush/Kalpurush.svg#Kalpurush') format('svg'),
    url('https://fonts.maateen.me/kalpurush/Kalpurush.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.kalpurus {
    font-family: 'Kalpurush', Arial, sans-serif !important;
}
/*custom fonts*/


.label-text {
    background: gray;
    color: white;
    padding: 5px;
}
.heading {
    background: #6cb2eb;
    padding: 10px
}
.first_body {
    background:#cfe1e8;
}
.pull-right{
    float:right;
}
.header{
    -webkit-box-shadow: 10px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 24px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

/*Navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #3a5b84;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.js-date{
    width:100px !important;
}